<h1 style="color:#b39ddb;"> All Posts </h1>
<form action="/posts" method="get">
  <div class="row" style="margin-bottom: 0;">
    <div class="col s5 input-field" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">
      <input type="text" name="query" id="query" placeholder="Enter Search">
    </div>
  </div>
  <input type="submit" value="Search" class="btn waves-effect deep-purple accent-2">
</form>

<% @posts.each do |post| %>
    <h4><a href="/posts/ <%= post.id %>"><%= post.title %></a></h4>
    <img src="<%= post.image_url %>" alt="<%= post.title %>" height="200" width="200">
    <br><br>
    <strong>Created at: <%= post.created_at %></strong>
    <p><%= post.description %></p>
    <p>Posted By: <%= post.user.username %></p>
<% end %>
