 <h3 style="color:#b39ddb;"><%= @post.title %></h3>
    <img src="<%= @post.image_url %>" alt="<%= @post.title %>" height="200" width="200">
    <br><br>
    <strong>Created at: <%= @post.created_at %></strong>
    <p><%= @post.description %></p>
    <p>Posted By: <%= @post.user.username %></p>


    <% if authorized_to_edit?(@post) %>    
    
    <a href="/posts/<%= @post.id %>/edit">Edit Post</a>

    <form action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn waves-effect red accent-3" type="submit" name="action">Delete This Post</button>
    </form>

    <% end %>